body {
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;;
  min-width: 1000px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  text-shadow: -1px 1px black;
}
audio {
  margin-left: 20px;
}
div#wrapper {
  margin: 0 auto;
  width: 72%;
}
div#rss-image-wrapper, 
div#emailme-image-wrapper,
div#resume-image-wrapper {
  text-align: center;
}
div#rss-image-wrapper {
  margin-top: 20px;
}
img#rss-image, img#emailme-image, img#resume-image {
  width: 100px;
}
div.header#main, div.footer#main {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 8px;
  color: #bbb;
}
div.header#main {
  margin-bottom: 10px;
}
div.header#main h1 {
  font-size: 29px;
  margin: 10px 0;
  font-weight: normal;
}
div.header#main h1 a {
  text-decoration: none;
  color: rgba(255,255,255,0.9);
}
div.header#main h1 span#by {
  float: right;
  font-size: 14px;
  font-weight: normal;
}
div.header#main h1 span#by a {
  color: rgba(255, 131, 0, 0.9);
  text-decoration: none;
}
div.footer#main {
  margin-top: 10px;
  text-align: right;
  font-size: 10px;
}
.footer .author,
.footer .date,
.footer .tags {
  width: 33%;
  float: left;
  color: #bbb;
}
.footer .author {
  text-align: left;
}
.footer .date {
  text-align: center;
}
.footer .tags {
  text-align: right;
}
div.section#content, div.nav#main {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
}
div.section#content {
  float: left;
  width: 71%;
  margin-right: 1%;
  padding: 15px 0;
  min-height: 1852px;
} 
div.nav#main {
 margin-bottom: 10px;
 padding: 10px 0;
}
div.nav#main table#about-me {
  color: #bbb;
  margin-left: 20px;
}
div.nav#main table#about-me td.left {
  text-align: left;
}
div.nav#main table#about-me td.center {
  text-align: center;
}
div.nav#main table#about-me td.right {
  text-align: right;
}
div.section#side-panel {
  width: 27.7%;
}
div.section#twitter h4 {
  font-size: 15px !important;
}
div.section#twitter h3 {
  font-size: 12px !important;
}
div.section#twitter {
  margin-bottom: 10px;
}
div.section#shelfi {
  background-color: #333;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  padding: 1px;
}
div.section#shelfi div#shelf {
  padding: 10px 20px;
}
div.section#shelfi div#shelf div#shelfari {
  margin: 0 auto;
}
div.nav#main h3,
div.section#shelfi h3 {
  color: #cfcfcf;
  padding: 8px;
  margin: 3px 0;
  border-bottom: 1px solid rgb(68, 68, 68);
  font-weight: normal;
  text-align: left;
}
div.nav#main p {
    margin: 5px 0 5px 20px;
    color: rgb(207, 207, 207);
}
div.nav#main a {
    text-decoration: none;
    color: #bbb;
}
div.nav#main a:hover {
  text-decoration: underline;
}
div.nav#main img#me {
  border: 1px solid #444;
  border-radius: 5px;
}
div.section#side-panel {
  float: left;
}
div.article.post {
  margin: 0 0 10px;
  color: #cfcfcf;
}
div.article.post blockquote {
  margin-right: 0;
}
div.article.post a {
  color: rgb(224, 125, 38);
  text-decoration: none;
}
div.article.post p {
  margin-left: 20px;
}
div.article.post h2 {
  color: rgb(224, 125, 38);
  font-size: 17px;
  border-bottom: 1px solid #444;
  padding-left: 8px;
}
div.article.post div.header {
  padding: 10px 10px 10px 0;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
}
div.article.post div.header h2 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  margin: 3px 0 3px 5px;
  padding: 0;
  border: none;
  background-color: none;
}
div.article.post div.header h2 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
div.article.post div.footer {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  padding: 4px 7px;
  text-align: right;
  border-top: 1px dotted #444;
}
div.article.post code {
  background-color: rgba(0, 0, 0, 0.64);
  padding: 0 3px;
  border: 1px solid #444;
  border-radius: 5px;
}

div.article.post pre code {
  background-color: transparent;
  border: none;
}
div.article.post code.ruby,
div.article.post code.html {
  background-color: transparent;
}
span.like {
  color: rgba(0,140,0,0.9);
}
span.dislike {
  color: rgba(140,0,0,0.9);
}
.clearfix {
  clear: both;
}
pre,
div.article.post p.quote {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 20px;
  margin: 0 20px;
  border: 1px solid #444;
  border-radius: 5px;
}
div.article.post p.quote a {
  color: rgba(255, 131, 0, 0.9) !important;
}
#disqus_thread {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px;
  color: rgba(255,255,255,0.9);
}
#disqus_thread a {
 color: rgba(255, 131, 0, 0.9);
 text-decoration: none;
}
#disqus_thread a:hover {
  text-decoration: underline;
}
a.dsq-brlink {
  color: rgba(180, 0, 0, 0.9);
  text-decoration: none;
}
div.twtr-doc {
  border-radius: 0 !important;
}
