<!DOCTYPE html>

<html>
  <head>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.meta_desc}}">
    <meta name="keywords" content="{{page.keywords}}">
    <link type="text/css" rel="stylesheet" href="/stylesheets/default.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/pygment.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.8.14.custom.css">
    <script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript" ></script>
    <script src="/javascripts/jquery-ui-1.8.14.custom.min.js" type="text/javascript" ></script>
    <script src="/javascripts/kCode.min.js" type="text/javascript" ></script>
    <script type="text/javascript">
      $(function(){
        kCode.listen(function(){
          var audioDelay = 9000;   
          $("body").css('overflow','hidden');
          window.location.href="#";
          document.getElementById('k-code-audio').play();
          $("body").delay(5500).queue(function(next){
            $(this).css('background-color', 'black');
            $(this).css('background-image', "url('/images/cats.jpg')");
            next();
          });
          $("#disqus_thread").delay(audioDelay).fadeOut();
          $("#twitter").delay(audioDelay).fadeOut(); 
          $("#shelfi").delay(audioDelay).fadeOut(); 
          $(".nav").delay(audioDelay).hide("explode",{ pieces: 100 }, 2000); 
          $(".footer").delay(audioDelay + 2000).hide("explode",{ pieces: 5 }, 1000); 
          $(".post").delay(audioDelay + 4000).hide("explode",{ pieces: 100 }, 3000); 
          $("#content").delay(audioDelay + 4500).fadeOut();   
          $(".header").delay(audioDelay + 6000).hide("explode",{ pieces: 20 }, 1000);
        });
      });
    </script>
    <script type="text/javascript">
      $(function() {
        $("a.tblank").attr("target","_blank"); 
      })
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6908348-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="wrapper">

      <div class="header" id="main">
        <h1><a href='/'>thinking out loud [...]</a><span id="by"><small>by</small> <a href="http://twitter.com/robertodecurnex" title="Follow me on Twitter!">@robertodecurnex</a><span></h1>
      </div>
      
      <div class="section" id="content">
        {{ content }}
      </div>
    
      <div class="section" id="side-panel">
    
        <div class="nav" id="main">
          <h3>About Me</h3>
          <table id="about-me">
            <tr>
              <td class='left'><span class='like'>&#10003;</span> Ruby</td>
              <td class='center'><strong>&brvbar;</strong></td>
              <td class='right'><strike>Java</strike> <span class='dislike'>&times;</span></td>
            </tr>
            <tr>
              <td class='left'><span class='dislike'>&times;</span> <strike>DC</strike></td>
              <td class='center'><strong>&brvbar;</strong></td>
              <td class='right'>Marvel <span class='like'>&#10003;</span></td>
            </tr>
            <tr>
              <td class='left'><span class='like'>&#10003;</span> RPG</td>
              <td class='center'><strong>&brvbar;</strong></td>
              <td class='right'><strike>FPS</strike> <span class='dislike'>&times;</span></td>
            </tr>
            <tr>
              <td class='left'><span class='like'>&#10003;</span> Bruce</td>
              <td class='center'><strong>&brvbar;</strong></td>
              <td class='right'><strike>Kal-El</strike> <span class='dislike'>&times;</span></td>
            </tr>
            <tr>
              <td class='left'><span class='dislike'>&times;</span> <strike>SVN</strike></td>
              <td class='center'><strong>&brvbar;</strong></td>
              <td class='right'>GIT <span class='like'>&#10003;</span></td> 
          </table>
          <br />
          <h3>Profile</h3>
          <p>
            <a href="/roberto_decurnex.pdf" target="_blank" title="R&eacute;sum&eacute;">r&eacute;sum&eacute;</a>
          </p>
          <p>
            <a href="http://github.com/robertodecurnex" target="_blank" title="Github">github</a>
          </p>
          <p>
            <a href="http://rubygems.org/profiles/47719" target="_blank" title="RubyGems">rubygems</a>
          </p>
          <p>
            <a href="http://stackoverflow.com/users/550167/robertodecurnex" target="_blank" title="StackOverflow">stackoverflow</a>
          </p>
          <p>
            <a href="https://plus.google.com/100034749316009753984?rel=author" target="_blank" title="Google+" rel="author">google+</a>
          </p>
          <br />
          <br />
          <h3>Recent Posts</h3>

          {% for post in site.posts limit:5 %}
            <p>
              {% if post.title.size < 27 %}
                <a href="{{post.url}}" title="{{post.title}}">{{ post.title }}</a>
              {% else %} 
                <a href="{{post.url}}" title="{{post.title}}">{{ post.title | truncate: 27 }}</a>
              {% endif %}
            </p>
          {% endfor %}
          <br />
          <br />
          <h3>Projects</h3>
          <p>
            <a href="/rack-jsonp-middleware" target="_blank" title="A Rack JSONP middleware">rack-jsonp-middleware</a>
          </p>
          <p>
            <a href="https://github.com/travis-ci/travis-ruby-client" target="_blank" title="Travis Ruby Client">travis-ruby-client</a>
          </p>
          <p>
            <a href="/J50Npi" target="_blank" title="Basic JSONP helper (pure JS)">J50N&pi;</a>
          </p>
          <p>
            <a href="/i_heart_quotes" target="_blank" title="I <3 Quotes Ruby Client">i_heart_quotes</a>
          </p>
          <p>
            <a href="/kCode" target="_blank" title="Simple Konami Code implementation (Pure JS)">kCode</a>
          </p>
          <p>
            <a href="/caesar" target="_blank" title="Simple Caesar Cipher ruby implementation">caesar</a>
          </p>
          <p>
            <a href="/vigenere" target="_blank" title="Simple Vigenère Cipher ruby implementation">vigenere</a>
          </p>
 
          <div id="rss-image-wrapper" style="display:none;">
            <a href="/atom.xml" target="_blank" ><img id="rss-image" src="/images/rss.png"></img></a>
          </div>
          <div id="emailme-image-wrapper" style="display:none;">
              <a href="mailto:decurnex.roberto@gmail.com"><img id="emailme-image" src="/images/emailme.png"></img></a>
          </div>
        </div>
      
        <div class="section" id="twitter">
          <a class="twitter-timeline" href="https://twitter.com/robertodecurnex"
            data-theme="dark"
            data-link-color="rgba(255, 131, 0, 0.9)"
            data-tweet-limit="4"
            data-widget-id="373106241863569408"

            height:"300"
          >
            Tweets by @robertodecurnex
          </a>
          <script>
            !function(d,s,id) {
              var js, fjs=d.getElementsByTagName(s)[0], p=/^http:/.test(d.location) ? 'http' : 'https'; 
              
              if(!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
              }
            }(document,"script","twitter-wjs");
          </script>

          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 4,
              interval: 6000,
              width: 'auto',
              height: 300,
              theme: {
                shell: {
                  background: 'rgba(255, 255, 255, 0.8)',
                  color: 'rgba(0, 0, 0, 0.9)'
                },
                tweets: {
                  background: 'rgba(0, 0, 0, 0.7)',
                  color: 'rgba(255, 255, 255, 0.9)',
                  links: 'rgba(255, 131, 0, 0.9)'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
              }
            }).render().setUser('robertodecurnex').start();
          </script>
        </div>

        <div class="section" id="shelfi">
          <h3>Favourite Readings</h3>
          <div id="shelf">
            <div id="ShelfariWidget208825">
              <a href='http://www.shelfari.com/'>Shelfari: Book reviews on your book blog</a>
              <script src="http://www.shelfari.com/ws/208825/widget.js?r=21735" type="text/javascript" language="javascript"></script>
            </div>
            <noscript>
              <ul>
                <li>
                  <a href="http://www.shelfari.com/books/46127/Nine-Princes-in-Amber?widgetId=208825">Nine Princes in Amber</a> by Roger Zelazny
                </li>
                <li>
                  <a href="http://www.shelfari.com/books/12057/One-Hundred-Years-of-Solitude?widgetId=208825">One Hundred Years of Solitude</a> by Gabriel Garcia Marquez
                </li>
                <li>
                  <a href="http://www.shelfari.com/books/12948018/THIS-INMORTAL?widgetId=208825">THIS INMORTAL</a> by Roger Zelazny
                </li>
              </ul>
            </noscript>
          </div>
        </div>  
      </div>

      <div class="clearfix"></div>

      <div class="footer" id="main">
        &copy;2013 - Roberto Decurnex
      </div>
    </div>
    <div id="k-code">
      <audio src="/audios/all_your_base_are_belong_to_us.wav" id="k-code-audio">
        Your browser does not support the audio element.
      </audio>
    </div>
  </body>
</html>
