---
layout: default
---

<article class="post">

  <header>
    <h2><a href='{{page.url}}'>{{page.title}}</a></h2>
  </header>

  {{ content }}
  
  <footer>
    Tags =&gt; {{page.tags}} 
  </footer>
</article>
<!-- Disqus script [With Style Problems]
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'robertodecurnex'; 
      var disqus_identifier = '{{page.identifier}}';
      var disqus_url = '{{page.url}}';
      var disqus_developer = 1;                             
      var disqus_title = '{{page.title}}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
-->

