---
layout: default
---

<div class="article post">

  <div class="header">
    <h2><a href='{{page.url}}'>{{page.title}}</a></h2>
  </div>

  {{ content }}
  
  <div class="footer">
    <div class="author">
      by Roberto Decurnex
    </div>
    <div class="date">
      {{page.date | date: "%d %B %Y"}}
    </div>
    <div class="tags">
      Tags =&gt; {{page.tags}} 
    </div>
    <div class="clearfix"></div>
  </div>

</div>
<!-- Disqus script [With Style Problems] -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'robertodecurnex'; 
      var disqus_identifier = '{{page.identifier}}';
      var disqus_url = 'http://robertodecurnex.com{{page.url}}';
      //var disqus_developer = 1;                             
      var disqus_title = '{{page.disqus_title}}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" target="_blank" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<!-- -->

